<html lang="ko">
    <head>
        <meta charset="utf-8">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <script type="text/javascript">
        function home(){
            location.href="/"
        }
        
    </script>
    <body>
        <form name=selection method="post" action="/admincontrol" class="form-inline" style="width:100% float:none; margin:0 auto">
            <div class="form-group">
                <input style=margin:10px; type="text" name="date" placeholder="해당날짜" class="form-control">
                <input style=margin:10px; type="text" name="name" placeholder="이름" class="form-control">
                <input style=margin:10px; type="text" name="checkin" placeholder="출근시간수정" class="form-control">
                <input type="submit" style=margin:10px;  name="submit" value="기록삭제" class="btn btn-danger">
                <input type="submit" style=margin:10px; name="submit" value="출근시간 수정" class="btn btn-danger">
                <input type="submit" style=margin:10px;  name="submit" value="퇴근시간 초기화" class="btn btn-danger">
                <input type="button" style=margin:10px; onclick="home()" value="홈으로" class="btn btn-danger">
            </div>
        </form>
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>날짜</th>
                    <th>이름</th>
                    <th>출근시간</th>
                    <th>퇴근시간</th>
                    <th>업무내용</th>
                </tr>
            </thread>
            <tbody>
                {% for row in data_list %}
                <tr>
                    <td>{{row.date}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.checkin}}</td>
                    <td>{{row.checkout}}</td>
                    <td>{{row.check_explain}}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>이름</th>
                    <th>총 업무시간</th>
                </tr>
            </thread>
            <tbody>
                {% for row2 in data_list2 %}
                <tr>
                    <td>{{row2.name}}</td>
                    <td>{{row2.time}}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>