<html lang="ko">
    <head>
        <meta charset="utf-8">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
    </script>
        </form>
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>날짜</th>
                    <th>이름</th>
                    <th>출근시간</th>
                    <th>퇴근시간</th>
                    <th>업무내용</th>
                </tr>
            </thread>
            <tbody>
                {% for row in data_list %}
                <tr>
                    <td>{{row.date}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.checkin}}</td>
                    <td>{{row.checkout}}</td>
                    <td>{{row.check_explain}}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>