<html lang="ko">
    <head>
        <meta charset="utf-8">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <script type="text/javascript">
        function checkin(){
            location.href="/checkin"
        }
    </script>
    <body>
    <script type="text/javascript">
        var status='{{status_result}}';
        if (status=="fail"){
            swal.fire({
                    title:"출근기록 실패",
                    text:"출근기록을 하지 못했습니다. 다시 시도하세요.",
                    icon:"error",
                    confirmButtonText:"확인"
                });  
        }    
    </script>
        <form method="post" class="form-inline">
            <div class="form-group">
                <label class="label label-primary">{{name}} 님 안녕하세요 </label> </td>   
            </div>
            <div class="form-group">
                <input style=margin:10px; type="button" onclick="checkin()" value="출근하기" class="btn btn-danger">
            </div>
            <div class="form-group">
                <input style=margin:10px; type="button" onclick="submit()" value="퇴근하기" class="btn btn-danger">
            </div>
            <div class="form-group">
                <input type="text" name="explain" placeholder="할일을 적으세요" class="form-control">
            </div>
        </form>
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>이름</th>
                    <th>출근시간</th>
                    <th>퇴근시간</th>
                </tr>
            </thread>
            <tbody>
                {% for row in data_list %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.checkin}}</td>
                    <td>{{row.checkout}}</td>
                    <td>{{row.checkout-row.checkin}}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>