<html lang="ko">
    <head>
        <meta charset="utf-8">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
    <script type="text/javascript">
        function home(){
            location.href="/"
        }
        function reply(){
            const { value: text } = Swal.fire({
                
                input: 'textarea',
                inputPlaceholder: 'Type your message here...',
                inputAttributes: {
                    'aria-label': 'Type your message here'
                },
                showCancelButton: true
                })

                if (text) {
                Swal.fire(text)
                }
        }
        var status='{{status_result}}';
        if (status=="fail"){
            swal.fire({
                    title:"출근기록 실패",
                    text:"출근기록을 하지 못했습니다. 다시 시도하세요. 관리자에게 문의하세요",
                    icon:"error",
                    confirmButtonText:"확인"
                });  
        }
        else if (status=="success"){
            swal.fire({
                    title:"출근기록 성공",
                    text:"출근기록을 하였습니다..",
                    icon:"success",
                    confirmButtonText:"확인"
                });  
        }    
    </script>
        <form name="myform" action="/check" method="post" class="form-inline">
            <div class="form-group">
                <label  class="label label-primary">{{name}} 님 안녕하세요 </label> </td>
                <input type="text" name="explain" placeholder="할일을 적으세요" class="form-control">   
                <input type="submit" style=margin:10px; name="checkin"  value="출근하기" class="btn btn-danger">
                <input type="submit" style=margin:10px; name="checkin" value="퇴근하기" class="btn btn-danger">
                <input type="button" style=margin:10px; onclick="home()" value="홈으로" class="btn btn-danger">
                <input type="button" style=margin:10px; onclick="reply()" value="문의하기" class="btn btn-danger">
            </div>
        </form> 
        </form>
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>날짜</th>
                    <th>이름</th>
                    <th>출근시간</th>
                    <th>퇴근시간</th>
                    <th>업무시간</th>
                    <th>업무내용</th>
                </tr>
            </thread>
            <tbody>
                {% for row in data_list %}
                <tr>
                    <td>{{row.date}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.checkin}}</td>
                    <td>{{row.checkout}}</td>
                    <td>{{row.worktime}}</td>
                    <td>{{row.check_explain}}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>